<footer class="site-footer">

  <div style="text-align:center;">

    <h2 class="footer-heading">Yhteistyössä</h2>
    <div>
      <a href="http://reaktor.com/"><img width="150" style="margin:20px;border:0;"
          src="{{ "/static/sponsors/reaktor_white.png" | absolute_url }}" alt=""></a>
      <a href="http://www.tuxera.com/"><img width="150" style="margin:20px;border:0;"
          src="{{ "/static/sponsors/tuxera_red.png" | absolute_url }}" alt=""></a>
      <a href="https://new.abb.com/fi/"><img width="135" style="margin:20px;border:0;"
          src="{{ "/static/sponsors/ABB.png" | absolute_url }}" alt=""></a>
      <a href="https://www.vincit.fi/"><img width="150" style="margin:20px;border:0;"
          src="{{ "/static/sponsors/vincit.png" | absolute_url }}" alt=""></a>
      <a href="https://www.accenture.com/fi-en"><img width="150" style="margin:20px;border:0;"
          src="{{ "/static/sponsors/accenture.png" | absolute_url }}" alt=""></a>
      <a href="https://www.futurice.com/"><img width="150" style="margin:20px;border:0;"
          src="{{ "/static/sponsors/futurice.png" | absolute_url }}" alt=""></a>
      <a href="https://www.valmet.com/"><img width="150" style="margin:20px;border:0;"
          src="{{ "/static/sponsors/valmet_white.png" | absolute_url }}" alt=""></a>
      <a href="https://www.thermofisher.com/fi/en/home.html"><img width="150" style="margin:20px;border:0;"
          src="{{ "/static/sponsors/thermo_fisher.png" | absolute_url }}" alt=""></a>
      <a href="https://www.cgi.com/fi/fi"><img width="160" style="margin:20px;border:0;"
          src="{{ "/static/sponsors/cgi.png" | absolute_url }}" alt=""></a>
      <a href="https://atalent.fi/"><img width="160" style="margin:20px;border:0;"
            src="{{ "/static/sponsors/aTalent_Logo.png" | absolute_url }}" alt=""></a>
      <a href="https://www.home.sandvik/en/"><img width="160" style="margin:20px;border:0;"
            src="{{ "/static/sponsors/sandvik.png" | absolute_url }}" alt=""></a>
      <a href="https://finago.com"><img width="160" style="margin:20px;border:0;"
            src="{{ "/static/sponsors/accountor_logo.png" | absolute_url }}" alt=""></a>
     <a href="https://eficode.com"><img width="160" style="margin:20px;border:0;"
            src="{{ "/static/sponsors/Eficode_logo.png" | absolute_url }}" alt=""></a>    
    <a href="https://trombia.com"><img width="160" style="margin:20px;border:0;"
            src="{{ "/static/sponsors/trombia.jpeg" | absolute_url }}" alt=""></a>      
    <a href="https://prosysopc.com/"><img width="160" style="margin:20px;border:0;"
            src="{{ "/static/sponsors/prosys_opc.png" | absolute_url }}" alt=""></a>      
    <a href="https://tietoevry.com/"><img width="160" style="margin:20px;border:0;"
            src="{{ "/static/sponsors/tietoevry.png" | absolute_url }}" alt=""></a>
    <a href="https://nokia.com/"><img width="160" style="margin:20px;border:0;"
            src="{{ "/static/sponsors/nokia.png" | absolute_url }}" alt=""></a>      
    </div>

 </div>
  <div class="footer__social">
    <a href="https://facebook.com/askilta"><i class="fa fa-facebook" aria-hidden="true">&nbsp;Facebook</i></a>
    <a href="https://instagram.com/askilta"><i class="fa fa-instagram" aria-hidden="true">&nbsp;Instagram</i></a>
    <a href="https://github.com/as-kilta"><i class="fa fa-github" aria-hidden="true">&nbsp;Github</i></a>
  </div>

</footer>
