
body {
  font-family: $font-sans;
  background-color: $white-color;
  overflow-y: scroll;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  h1, h2, h3, h4, h5, h6 {
    font-family: $font-heading;
  }
}

.page-content {
  flex: 1;
}

.header__title {
  background-color: $purple-color;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 7.5px auto 7.5px;
  grid-template-areas:
  ". .      ."
  ". title  ."
  ". social social" ;
}

.site-title {
  grid-area: title;
  text-align: center;
  
  h1 {
    margin: 0;
  }

  a {
    &,
    &:visited,
    &:hover {
      color: $site-title-color;
      text-decoration: none;
    }
    font-family: $font-sans;
    letter-spacing: 1px;
  }
  
}

.header__logo {
  display: block;
  margin: auto;
}

.header__social {
  margin: 0 0.5em 0 auto;
  display: inline-block;
  align-self: end;
  grid-area: social;

  font-size: 1.2em;
  line-height: 0;
  word-spacing: 0.3em;

  li {
    display: inline-block;
    margin: 0;
  }

  a, a:visited {
    color: white;
  }

  a:hover {
    color: orange;
  }
}

.site-footer {
  background: $dark-grey-navi;
  padding: $spacing-unit;
  color: black;
  h2 {
    font-family: $font-heading;
    color:#fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    }
}

.header__navigation {
  overflow: hidden;
  font-family: $font-heading;
  text-align: center;

  ul {
    overflow: hidden;
    background: $dark-grey-navi;
    margin: 0;
    padding: 1em 0;
  }

  a, a:visited {
    text-decoration: none;
    color: #ddd;
  }
  a:hover{
    text-decoration: none;
    color: #fff;
  }
}

.subheader__navigation {
  padding: 4.5px 0 3px 0;
  background: $dark-grey-subnavi;
  overflow: hidden;
  font-family: $font-heading;
  font-size: 0.9em;
  text-align: center;
  margin-bottom: 0 !important;

  ul {
      margin: 5px auto;
  }

  a {
      text-decoration: none;
      color: #ddd;
  }

  a:hover {
      text-decoration: none;
      color: #fff;
  }
}

.navigation__item {
  display: inline-block;
  padding: 3.5px 10px;
  font-weight: 900;
  letter-spacing: 1px;
}

.navigation__item.active {
  font-weight: bold;
}

.navigation__item.active a {
  color: #fff;
  border-bottom: solid 2px #b31aff;
  padding-bottom: 3px;
}


.post-content {
  font-family: $font-serif;
}

.post__ingress {
  font-size: 1.15em;
  font-family: $font-serif;
  @include breakpoint(desktop) {
    width: 95%;
  }
}

.post__category {
  color: $brand-color;
  text-transform: uppercase;
  font-weight: 600;
  margin-right: 5px;
}

.post {
  overflow: auto;
  padding: $spacing-unit / 2;
  @include breakpoint(mobile) {
    padding: $spacing-unit;
  }
  background-color: $white-color;
}

.post-title__info {
  color: $grey-color;
}

.post__spacer {
  border-top: 3px solid $brand-color;
  width: 4em;
}

h2 a,
h3 a,
h4 a {
  &, &:visited {
    color: $text-color;
  }
}
